body, html {
  margin: 0;
}

.video-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: max-content;
  height: max-content;
}

.video-container .filter-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.video-container .filter {
  position: absolute;
  border-width: 2px;
  border-style: solid;
}

.video-container video {
  width: 100%;
  transform: scaleX(-1);
}